.QuoteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.QuoteFormContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.QuoteForm > .QuoteFormContent > .QuoteFormContentWrapper {
  position: relative;
}

.QuoteFormLine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  color: #f26b30;
}
.QuoteFormLine > span {
  display: block;
  margin-right: 30px;
  width: 40px;
  height: 1px;
  background-color: #222222;
}

.QuoteFormContent > .QuoteFormContentWrapper > .QuoteFormContentText {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentTextListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentTextListWrapper
  > .QuoteFormContentTextList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
  padding: 20px;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentTextListWrapper
  > .QuoteFormContentTextList
  > .QuoteFormContentTextListBox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentTextListWrapper
  > .QuoteFormContentTextList
  > .QuoteFormContentTextListBox1
  > .QuoteFormContentTextListBox1Check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 250px;
  color: #222222;
  gap: 10px;
  padding: 20px;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentTextListWrapper
  > .QuoteFormContentTextList
  > .QuoteFormContentTextListBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentTextListWrapper
  > .QuoteFormContentTextList
  > .QuoteFormContentTextListBox2
  > .QuoteFormContentTextListBox2Check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #222222;
  padding: 8px;
  gap: 10px;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  height: 600px;
  margin-top: 20px;
  background-color: white;
  color: #222222;
  max-width: 450px;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 30px;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > div {
  display: flex;
  flex-direction: column;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > .QuoteFormContentFormInputListContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > .QuoteFormContentFormInputListContent
  > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > .QuoteFormContentFormInputListContent
  > div
  > input {
  width: 100%;
  height: 30px;
  border: 1px solid #222222;
  padding: 5px;
  font-size: 15px;
  color: #222222;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > .QuoteFormContentFormInputListContentTel {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 20px;
}
.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > .QuoteFormContentFormInputListContentEmail {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  padding: 5px;
}

.QuoteFormContent
  > .QuoteFormContentWrapper
  > .QuoteFormContentText
  > .QuoteFormContentForm
  > .QuoteFormContentFormInput
  > .QuoteFormContentFormInputListContentTextArea {
  margin-top: 30px;
}

/* Media Queries */

@media only screen and (min-width: 750px) and (max-width: 900px) {
  .QuoteForm > .QuoteFormContent > .QuoteFormContentWrapper > img {
    height: 1200px;
  }
  .QuoteForm
    > .QuoteFormContent
    > .QuoteFormContentWrapper
    > .QuoteFormContentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 750px) {
  .QuoteForm > .QuoteFormContent > .QuoteFormContentWrapper > img {
    height: 1500px;
  }
  .QuoteForm
    > .QuoteFormContent
    > .QuoteFormContentWrapper
    > .QuoteFormContentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .QuoteFormContent
    > .QuoteFormContentWrapper
    > .QuoteFormContentText
    > .QuoteFormContentTextListWrapper
    > .QuoteFormContentTextList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

/* Media Queries */
