.Collection {
  margin: 0 auto;
  padding: 100px 100px;
}
.Collection > .CollectionContent {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  gap: 20px;
}
.Collection > .CollectionContent > .CollectionWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.Collection > .CollectionContent > .CollectionWrapper > .CollectionContentNav {
  position: absolute;
  top: 0;
  left: 100px;
  height: 100%;
  z-index: 100;
  margin: 0 auto;
}

.Collection
  > .CollectionContent
  > .CollectionWrapper
  > .CollectionContentNav
  > .CollectionContentNavWrapper {
  position: sticky;
  top: 0;
  left: 0;
}

.Collection
  > .CollectionContent
  > .CollectionWrapper
  > .CollectionContentNav
  > .CollectionContentNavWrapper
  > nav
  > ul
  > li {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Collection
  > .CollectionContent
  > .CollectionWrapper
  > .CollectionContentNav
  > .CollectionContentNavWrapper
  > nav
  > ul
  > li:hover {
  color: #f26b30;
}
