.GalleryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
}
.GalleryWrapper > .Swiper {
  width: 100%;
  height: 50vh;
}

.GalleryWrapper > .Swiper > .SwiperSlide > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
}

/* Mobile */
@media only screen and (max-width: 780px) {
  .GalleryWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
  }
  .GalleryWrapper > .Swiper {
    width: 100%;
    height: 60vh;
  }
}
/* Mobile */

/* Tablet */
@media only screen and (min-width: 780px) and (max-width: 1023px) {
  .GalleryWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
  }
  .GalleryWrapper > .Swiper {
    width: 100%;
    height: 40vh;
  }
}
/* Tablet */
