.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  margin: 0 auto;
  background-color: white;
}

.navbar > .logo > a > img {
  width: 80px;
  height: 80px;
}

.navbar > .menu > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}

.navbar > .menu > nav > ul > li {
  list-style: none;
  position: relative;
}

.navbar > .menu > nav > ul > li > a {
  color: black;
  text-decoration-line: none;
}
.navbar > .menu > nav > ul > li > a {
  font-size: 16px;
  font-family: "Poppins" sans-serif;
  font-weight: 700;
}
.navbar > .menu > nav > ul > li > a:hover {
  color: #f26b30;
}
.navbar > .menu > nav > ul > .dropdownLi > button {
  outline: none;
  border: none;
  background-color: #f26b30;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 40px;
}
.navbar > .menu > nav > ul > li > select {
  outline: none;
  border: none;
  font-size: 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  background-color: transparent;
  background-color: #f26b30;
  color: white;
}
.navbar > .menu > nav > ul > li > select > option {
  background-color: #464646;
  color: white;
  transition: all 0.5s ease-in;
}

/* Media Query */

@media only screen and (min-width: 870px) and (max-width: 1440px) {
  .navbar > .menu > nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    gap: 20px;
  }
}
@media only screen and (min-width: 1100px) {
  .navbar > .menu > nav > .containerNav {
    display: none;
  }
}
@media only screen and (max-width: 780px) {
  .navbar > .menu > nav > ul {
    display: none;
  }
  .navbar > .menu > nav > .containerNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 890px) {
  .navbar > .menu > nav > ul {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .navbar > .menu > nav > ul {
    display: none;
  }
}
/* Media Query */
